.hero{
  min-height: calc(100dvh - 120px);
}
h1{
  letter-spacing: 1px;
  text-transform: capitalize;
}
.shortLink{
  z-index: 100001;
}
@media (min-width: 300px) and (max-width: 768px) {
  img{
    min-width: 150%;
  }
}
